<table border=0>
#set($index = 0)
#foreach($a in $attachments)
#set($imgPath = "$a.getDownloadUrl($request)")
#if(!$index % 2))<tr>#end
<td class="ms-vb" align="center">
<a href="$imgPath" target="_blank"><img border=0 width=300 src="$imgPath"></a><br>
#if ($canDelete)
[<a href="#delete" onclick="window.open('$deleteUrl&name=$tools.filter($a.getName())', null, 'height=200,width=450', false);">Delete</a>]
#end
</td>
#set($index = $index + 1)
#if(!$index % 2)</tr>#end
#end
#if($index % 2)</tr>#end
</table>