.labkey-exclusion-td-label {
    background: #eeeeee;
    font-weight: bold;
    border: solid #c0c0c0 1px;
    width: 23%;
    padding: 3px !important;
    text-align: right;
}

.labkey-exclusion-td-cell {
    background: #ffffff;
    border: solid #c0c0c0 1px;
    padding: 3px !important;
}