<table border=0>
#set($index = 0)
#foreach($slide in $slides)
#set($imgPath = "${request.contextPath}/attachments${container.path}/$slide.slideEntityId/download.view?name=$tools.encode($slide.DocumentName)")
#if(($index % 3) == 0)<tr>#end
<td class="ms-vb" align="center">
<a href="$imgPath" target="_blank"><img border=0 width=300 src="$imgPath"></a><br>
$slide.sampleType ($slide.stain) 
<a href="${request.contextPath}/MouseModel-Sample${container.path}/details.view?sampleId=$tools.encode($slide.sampleId)&modelId=$slide.modelId">
$slide.sampleId</a>
#if($deleteURL)
[<a href="${deleteURL}&entityId=${slide.slideEntityId}">Delete</a>]
#end
</td>
#set($index = $index + 1)
#if(($index % 3) == 0)</tr>#end
#end
#if(($index % 3) != 0)</tr>#end
</table>
<a href="${request.contextPath}/MouseModel-Sample${container.path}/showInsertSlides.view?modelId=$modelId&sampleId=$tools.encode($sampleId)">Add Slides</a>