<script type="text/javascript">

var allContainers = null;
var allRuns = null;
var allRunsGrid = null;
var peptidesGrid = null;
var middleForm = null;
var _pepData = null;     // Contains all data for the Queried peptides.
var _protData = null;    // Contains all the data for the Queried proteins.
var _pepCols = null;
var _protCols = null;
var _currentCols = null;
var _filterMap = {};

LABKEY.Security.getContainers(
{
    containerPath: "/",
    includeSubfolders: true,
    successCallback: function(containersInfo)
    {
        allContainers = {};
        addContainer(containersInfo, allContainers);
        showQueryOptions();
    }
});

LABKEY.Query.selectRows(
{
    schemaName: "ms2",
    queryName: "MS2SearchRuns",
    successCallback: function(data) { allRuns = data; showQueryOptions(); },
    containerFilter: "AllFolders",
    columns: "Folder, Name, CreatedBy/DisplayName, Input/FASTA/Name"
});

function addContainer(container, allContainers)
{
    allContainers[container.id] = container;
    for (var i = 0; i < container.children.length; i++)
    {
        addContainer(container.children[i], allContainers);
    }
}

function validateGrid(grid)
{
    if(!(grid.selModel.hasSelection()))
    {
        alert("Please select the folder(s) you would like to see MS2 Runs from.");
    }
    else
    {
        var selections = grid.selModel.getSelections();
        var concatIds = "";
        for (var i = 0; i < selections.length; i++)
        {
            concatIds += selections[i].get("id") + ";";
        }
        showRunsGrid(grid, concatIds);
        document.getElementById("newDiv").style.display="block";
    }
}

function showRunsGrid(grid, concatIds)
{
    var _store = new LABKEY.ext.Store({
        schemaName: "ms2",
        queryName: "MS2SearchRuns",
        containerFilter: "AllFolders",
        columns: "Name, Folder/Path, Input/FASTA, CreatedBy/DisplayName, MS2Details/Run",
        filterArray: [ LABKEY.Filter.create("Folder/EntityId", concatIds, LABKEY.Filter.Types.EQUALS_ONE_OF) ]
    });

    if(middleForm != null)
    {
        middleForm.remove(allRunsGrid, true);

        allRunsGrid.destroy();
        allRunsGrid = new LABKEY.ext.EditorGridPanel({
            store: _store,
            autoHeight: true,
            editable: false
        });

        middleForm.add(allRunsGrid);
        middleForm.doLayout();
    }
    else{

        allRunsGrid = new LABKEY.ext.EditorGridPanel({
            store: _store,
            autoHeight: true,
            editable: false
        });

        middleForm = new Ext.FormPanel({
            title: "Matching MS2 Runs",
            width: 800,
            frame: true,
            bodyStyle: 'padding: 2px',
            renderTo: "nextRunGrid",
            items: [{
                layout: 'form',
                items: [allRunsGrid]
            }]
        });
    }

    document.getElementById("nextRunGrid").style.display='block';
}

/* showQueryOptions is called each time a container is added or the Runs from all containers are added.*/
function showQueryOptions()
{
    if (allContainers && allRuns)
    {
        // All the Containers and their associated MS2 Runs are available.
        var validContainers = new Array();
        var validFASTA = new Array();

        for (var i = 0; i < allRuns.rows.length; i++)
        {
            var run = allRuns.rows[i];
            var found = false;
            for (var j = 0; j < validContainers.length; j++)
            {
                if (validContainers[j].id == run.Folder)
                {
                    validContainers[j].runCount++;
                    found = true;
                    break;
                }
            }
            if (!found)
            {
                allContainers[run.Folder].runCount = 1;
                validContainers.push(allContainers[run.Folder]);
            }
        }

        var chkBoxSelectMdl = new Ext.grid.CheckboxSelectionModel({
            checkOnly: true,
            sortable: true
        });

        var jStore = new Ext.data.JsonStore({
            root: 'containers',
            fields: ['path', 'id', 'runCount'],
            data: { containers: validContainers }
        });

        var grid = new Ext.grid.GridPanel({
            store: jStore,
            columns: [
                chkBoxSelectMdl,
                {id:'path', header: "Folder", width: 200, sortable: true, dataIndex: 'path'},
                {header: "Run Count", width: 75, sortable: true, dataIndex: 'runCount'}
            ],
            //renderTo: 'myDiv',
            autoHeight: true,
            selModel: chkBoxSelectMdl
        });

        var showRuns = new Ext.Button({text: "Show Matching MS2 Runs"});//, renderTo: "showRunsButton"});
        showRuns.addListener("click", function() { validateGrid(grid); });

        if(simple != null)
        {
            simple.destroy();
        }

        var simple = new Ext.FormPanel({
            labelWidth: 75,
            frame: true,
            title: "Run Filters",
            width: 800,
            renderTo: 'topPanel',
            items : [{
                layout: 'column',
                items: [{
                    columnWidth: .5,
                    layout: 'form',
                    items: [grid]
                },{
                    columnWidth: .5,
                    layout: 'form',
                    items: [ new Ext.form.ComboBox({
                        typeAhead: true,
                        fieldLabel: 'Search Engine Type',
                        triggerAction: 'all',
                        lazyRender:true,
                        mode: 'local',
                        store: new Ext.data.ArrayStore({
                            id: 0,
                            fields: [
                                'searchType'
                            ],
                            data: [['XTandem'], ['Sequest']]
                        }),
                        valueField: 'searchType',
                        displayField: 'searchType'
                    }), new Ext.form.ComboBox({
                        triggerAction: 'all',
                        fieldLabel: 'FASTA File',
                        emptyText: 'FASTA File sources...',
                        mode: 'local',
                        store: new Ext.data.JsonStore({
                            root: 'fileNames',
                            fields: ['Input/FASTA/Name'],
                            data: { fileNames: validFASTA }
                        }),
                        valueField: 'fileNames',
                        displayField: 'fileNames'
                    })]
                }]
            }],
            buttons : [ showRuns ]
        });
    }
}

/* Generates the call to Filter the Exportable table produced by this form. */
function viewExportableGrid(runIds, formValues, query)
{
    var inputs = formValues;
    var columns = "";
    var separator = "";
    var filterColumn = "Fraction/Run/Run";
    var exportFilterArray = [];

    // Establish which columns to choose
    for(var key in inputs)
    {
        if(inputs.hasOwnProperty(key) && inputs[key] != "")
        {
            if(key.toString().search(/filter-/) < 0)
            {
                columns += separator + key.toString();
                separator = ", ";
            }
        }
    }

    // Establish what filters to apply to chosen columns
    for(var key in _filterMap)
    {
        if(_filterMap.hasOwnProperty(key))
        {
            exportFilterArray.push(_filterMap[key]);
        }
    }

    // Add the runs filter to the filter set
    exportFilterArray.push(LABKEY.Filter.create(filterColumn, runIds, LABKEY.Filter.Types.EQUALS_ONE_OF));
    
    // Add own SQL to support export of custom columns in EGP
    var _storeConfig = {
        schemaName: "ms2",
        queryName: "Peptides",
        containerFilter: "AllFolders",
        columns: columns,
        filterArray: exportFilterArray
    };


    var _store = new LABKEY.ext.Store(_storeConfig);

    // Refresh the allRunsGrid
    if(peptidesGrid != null)
    {
        peptidesGrid.destroy();
    }

    peptidesGrid = new LABKEY.ext.EditorGridPanel({
        store: _store,
        lookups: false,
        title: "Peptides",
        autoHeight: true,
        renderTo: "peptidesGrid",
        editable: false,
        width: 800
    });
}

function onSuccess()
{
    // Wait for both callBacks
    if(_protData && _pepData)
    {
        var optionsTabPanel = new Ext.TabPanel({
            title: 'Export Options',
            frame: true,
            autoHeight: true,
            width: 800,
            renderTo: 'newDiv2',
            hidden: false,
            activeTab: 0,
            items: [{
                xtype: 'form',
                title: 'Peptides',
                table: 'Peptides',
                plain: true,
                autoHeight: true,
                items: [ _pepCols, _pepFilters ]
            },{
                xtype: 'form',
                title: 'Proteins',
                table: 'ProteinGroups',
                plain: true,
                autoHeight: true,
                items: [ _protCols ]
            }],
            buttons: [{
                text: 'Preview Results',
                handler: function() {
                    if(!(allRunsGrid.selModel.hasSelection()))
                    {
                        alert("Please select one or more runs.");
                    }
                    else
                    {
                        var selectedRuns = allRunsGrid.selModel.getSelections();
                        var runIds = "";
                        for (var i = 0; i < selectedRuns.length; i++)
                        {
                            runIds += selectedRuns[i].data['MS2Details/Run'] + ";";
                        }

                        if(optionsTabPanel.getActiveTab().getForm().isValid())
                        {
                            viewExportableGrid(runIds, optionsTabPanel.getActiveTab().getForm().getValues(false), optionsTabPanel.getActiveTab().table);
                        }
                        else
                        {
                            alert("Please correct erroneous input.");
                        }
                    }
                }
            },{
                text: 'Clear All',
                handler: function() {
                    var inputs = Ext.DomQuery.select("input[type=checkbox]", optionsTabPanel.getEl().dom);
                    for (var i = 0; i < inputs.length; i++)
                    {
                        inputs[i].checked = false;
                    }
                }
            },{
                text: 'Select All',
                handler: function() {
                    var inputs = Ext.DomQuery.select("input[type=checkbox]", optionsTabPanel.getEl().dom);
                    for (var i = 0; i < inputs.length; i++)
                    {
                        inputs[i].checked = true;
                    }
                }
            }]
        });
    }
}

function pepSuccess(data)
{
    _pepData = data;

    var colItems = [{boxLabel: 'Run', name: "Fraction/Run", checked: true, labelStyle: "padding-right: 0px"}];
    colItems.push({boxLabel: 'Run Project', name: 'Fraction/Run/Container/Name', checked: true, labelStyle: "padding-right: 0px"});
    colItems.push({boxLabel: 'Delta Mass', name: 'DeltaMass', checked: true, labelStyle: "padding-right: 0px"});
    colItems.push({boxLabel: 'Scan', name: 'Scan', checked: true, labelStyle: "padding-right: 0px"});
    colItems.push({boxLabel: 'Z (Charge)', name: 'Charge', checked: true, labelStyle: "padding-right: 0px"});
    colItems.push({
        boxLabel: 'Peptide Prophet Probability',
        id: 'prophet-box',
        name: 'PeptideProphet',
        checked: true,
        labelStyle: "padding-right: 0px",
        listeners: {
            check: function() { /* Could disable associated filter here */ }
        }
    });
    colItems.push({boxLabel: 'Peptide', name: 'Peptide', checked: true, labelStyle: "padding-right: 0px"});
    colItems.push({boxLabel: 'Protein', name: 'Protein', checked: true, labelStyle: "padding-right: 0px"});

    _pepCols = {
        title: 'Peptide Columns',
        autoHeight: true,
        height: 200,
        layout: 'form',
        collapsed: false,
        collapsible: true,
        items: [{
            xtype: 'checkboxgroup',
            columns: [80,80,80,80,80,80,80],
            items: colItems
        }]
    };

    _pepFilters = {
        title: 'Peptide Filters',
        autoHeight: true,
        height: 200,
        layout: 'form',
        collapsed: false,
        collapsible: true,
        items: [{
            xtype: 'numberfield',
            name: 'filter-peppp',
            fieldLabel: 'Peptide Prophet Probabilty (Lower Bound)',
            minValue: 0,
            maxValue: 1,
            emptyText: 0,
            listeners: {
                change: function(formField, newValue, oldValue) {
                    // Add a filter
                    if(newValue)
                    {
                        _filterMap['filter-peppp'] = LABKEY.Filter.create('PeptideProphet', newValue, LABKEY.Filter.Types.GREATER_THAN_OR_EQUAL);
                    }
                    else{
                        delete _filterMap['filter-peppp'];
                    }
                }
            }
        },{
            xtype: 'checkboxgroup',
            name: 'filter-charge',
            fieldLabel: 'Charge (Multiselect)',
            columns: [40,40,40,40,40,40],
            items: [
                {boxLabel: '1+', name: 'filter-charge-1', value: 1},
                {boxLabel: '2+', name: 'filter-charge-2', value: 2},
                {boxLabel: '3+', name: 'filter-charge-3', value: 3},
                {boxLabel: '4+', name: 'filter-charge-4', value: 4},
                {boxLabel: '5+', name: 'filter-charge-5', value: 5},
                {boxLabel: '6+', name: 'filter-charge-6', value: 6}
            ],
            listeners: {
                change: function(chkBoxGrp,checked){
                    var checkedVals = "";
                    if(checked.length > 0)
                    {
                        for(var i = 0; i < checked.length; i++)
                        {
                            checkedVals += checked[i].value + ";";
                        }
                        _filterMap['filter-charge'] = LABKEY.Filter.create('Charge', checkedVals, LABKEY.Filter.Types.EQUALS_ONE_OF);
                    }
                    else{
                        delete _filterMap['filter-charge'];
                    }
                }
            }

        }]
    };

    onSuccess();
}

function protSuccess(data)
{
    _protData = data;

    var colItems = [];
    for(i=0; i < data.columns.length;i++)
    {
        colItems.push({boxLabel: data.columns[i]['caption'], name: data.columns[i]['name'], checked: true});
    }

    _protCols = {
        title: 'Protein Columns',
        autoHeight: true,
        height: 200,
        layout: 'form',
        collapsed: false,
        collapsible: true,
        items: [{
            xtype: 'checkboxgroup',
            columns: 6,
            items: colItems
        }]
    };
    onSuccess();
}

function init()
{
    Ext.QuickTips.init();

    Ext.form.Field.prototype.msgTarget = 'side';

    // Start by calling for Query Details on both the Peptides/Proteins Queries
    LABKEY.Query.getQueryDetails({
        schemaName: 'ms2',
        queryName: 'Peptides',
        successCallback: pepSuccess,
        errorCallback: function(x) {alert("ERROR")}
    });

    LABKEY.Query.getQueryDetails({
        schemaName: 'ms2',
        queryName: 'ProteinGroups',
        successCallback: protSuccess,
        errorCallback: function(x) {alert("ERROR")}
    });
}

Ext.onReady(init);
</script>
        
<div class="extContainer">
    <div id="topPanel"></div>
    <div id="nextRunGrid" style="display: none; padding-bottom: 5px"></div>
    <div id="newDiv2"></div>
    <div id="newDiv"></div>
    <div id="checkboxGrpDiv" style="padding-bottom: 10px"></div>
    <div id="peptidesGrid" style="padding-bottom: 5px"></div>
</div>
