<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="ms2PipelineRegistry" class="org.labkey.api.pipeline.TaskPipelineRegistrar">
        <property name="factories">
            <list>
                <bean class="org.labkey.ms2.pipeline.tandem.XTandemSearchTask$Factory"/>
                <bean class="org.labkey.ms2.pipeline.mascot.MascotSearchTask$Factory"/>
                <bean class="org.labkey.ms2.pipeline.sequest.SequestSearchTask$Factory"/>
                <bean class="org.labkey.ms2.pipeline.TPPTask$Factory"/>
            </list>
        </property>
        <property name="pipelines">
            <list>
                <!-- X! Tandem search pipelines -->
                <bean class="org.labkey.api.pipeline.TaskPipelineSpec">
                    <constructor-arg type="java.lang.Class" value="org.labkey.ms2.pipeline.tandem.XTandemPipelineJob"/>
                    <constructor-arg value="sample"/>
                    <property name="taskProgressionSpec">
                        <list>
                            <value type="java.lang.Class">org.labkey.ms2.pipeline.tandem.XTandemSearchTask</value>
                            <value type="java.lang.Class">org.labkey.ms2.pipeline.TPPTask</value>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarGeneratorId</value>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarLoaderId</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.labkey.api.pipeline.TaskPipelineSpec">
                    <constructor-arg type="java.lang.Class" value="org.labkey.ms2.pipeline.tandem.XTandemPipelineJob"/>
                    <constructor-arg value="fraction"/>
                    <property name="taskProgressionSpec">
                        <list>
                            <value type="java.lang.Class">org.labkey.ms2.pipeline.tandem.XTandemSearchTask</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.labkey.api.pipeline.TaskPipelineSpec">
                    <constructor-arg type="java.lang.Class" value="org.labkey.ms2.pipeline.tandem.XTandemPipelineJob"/>
                    <constructor-arg value="fractionGroup"/>
                    <property name="taskProgressionSpec">
                        <list>
                            <value type="java.lang.Class">org.labkey.ms2.pipeline.TPPTask</value>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarGeneratorId</value>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarLoaderId</value>
                        </list>
                    </property>
                </bean>

                <!-- Mascot search pipelines -->
                <bean class="org.labkey.api.pipeline.TaskPipelineSpec">
                    <constructor-arg type="java.lang.Class" value="org.labkey.ms2.pipeline.mascot.MascotPipelineJob"/>
                    <constructor-arg value="sample"/>
                    <property name="taskProgressionSpec">
                        <list>
                            <value type="java.lang.Class">org.labkey.ms2.pipeline.mascot.MascotSearchTask</value>
                            <value type="java.lang.Class">org.labkey.ms2.pipeline.TPPTask</value>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarGeneratorId</value>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarLoaderId</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.labkey.api.pipeline.TaskPipelineSpec">
                    <constructor-arg type="java.lang.Class" value="org.labkey.ms2.pipeline.mascot.MascotPipelineJob"/>
                    <constructor-arg value="fraction"/>
                    <property name="taskProgressionSpec">
                        <list>
                            <value type="java.lang.Class">org.labkey.ms2.pipeline.mascot.MascotSearchTask</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.labkey.api.pipeline.TaskPipelineSpec">
                    <constructor-arg type="java.lang.Class" value="org.labkey.ms2.pipeline.mascot.MascotPipelineJob"/>
                    <constructor-arg value="fractionGroup"/>
                    <property name="taskProgressionSpec">
                        <list>
                            <value type="java.lang.Class">org.labkey.ms2.pipeline.TPPTask</value>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarGeneratorId</value>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarLoaderId</value>
                        </list>
                    </property>
                </bean>

                <!-- Sequest search pipelines -->
                <bean class="org.labkey.api.pipeline.TaskPipelineSpec">
                    <constructor-arg type="java.lang.Class" value="org.labkey.ms2.pipeline.sequest.SequestPipelineJob"/>
                    <constructor-arg value="sample"/>
                    <property name="taskProgressionSpec">
                        <list>
                            <value type="java.lang.Class">org.labkey.ms2.pipeline.sequest.SequestSearchTask</value>
                            <value type="java.lang.Class">org.labkey.ms2.pipeline.TPPTask</value>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarGeneratorId</value>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarLoaderId</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.labkey.api.pipeline.TaskPipelineSpec">
                    <constructor-arg type="java.lang.Class" value="org.labkey.ms2.pipeline.sequest.SequestPipelineJob"/>
                    <constructor-arg value="fraction"/>
                    <property name="taskProgressionSpec">
                        <list>
                            <value type="java.lang.Class">org.labkey.ms2.pipeline.sequest.SequestSearchTask</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.labkey.api.pipeline.TaskPipelineSpec">
                    <constructor-arg type="java.lang.Class" value="org.labkey.ms2.pipeline.sequest.SequestPipelineJob"/>
                    <constructor-arg value="fractionGroup"/>
                    <property name="taskProgressionSpec">
                        <list>
                            <value type="java.lang.Class">org.labkey.ms2.pipeline.TPPTask</value>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarGeneratorId</value>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarLoaderId</value>
                        </list>
                    </property>
                </bean>

                <!-- MS2 pipeline for finishing a search on the Perl Cluster Pipeline -->
                <bean class="org.labkey.api.pipeline.TaskPipelineSpec">
                    <constructor-arg type="java.lang.Class" value="org.labkey.ms2.pipeline.AbstractMS2SearchPipelineJob"/>
                    <constructor-arg value="finishPerlCluster"/>
                    <property name="taskProgressionSpec">
                        <list>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarGeneratorId</value>
                            <value type="java.lang.Class">org.labkey.api.exp.pipeline.XarLoaderId</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
</beans>