<table class="dataRegion" width=100%>
  #if($message)
    <td>$message</td>
  #else
    <col width=15%><col width=85%>
    #foreach($name in $protein.names)
    <tr><td colspan=2>$name.description</td></tr>
    #end
    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr><td>Sequence Mass:</td><td>$integer.format($protein.mass)</td></tr>
    #if($percent)
    <tr><td>AA Coverage:</td><td>$percent.format($protein.AAPercent) ($protein.AACoverage / $protein.sequence.length())</td></tr>
    <tr><td>Mass Coverage:</td><td>$percent.format($protein.MassPercent) ($integer.format($protein.MassCoverage) / $integer.format($protein.mass))</td></tr>
    #end
    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr><td colspan=2><big><tt>$protein.formattedSequence</tt></big></td></tr>
  #end
</table>