<table class="dataRegion">
    <tr>
    <td>Search Enzyme:</td><td>$formatter.isNull($run.searchEnzyme,"n/a")</td>
    <td>File Name:</td><td>$formatter.isNull($run.fileName,"n/a")</td>
    </tr><tr>
    <td>Search Engine:</td><td>$formatter.isNull($run.searchEngine,"n/a")</td>
    <td>Path:</td><td>$formatter.isNull($run.path,"n/a")</td>
    </tr><tr>
    <td>Mass Spec Type:</td><td>$formatter.isNull($run.massSpecType,"n/a")</td>
    <td>Fasta File:</td><td>$formatter.isNull($run.fastaFileName,"n/a")</td>
    </tr>
#if($quantAlgorithm)
    <tr><td>Quantitation:</td><td>$quantAlgorithm</td></tr>
#end
    <tr><td colspan=4>
#if($writePermissions)
    <a href="renameRun.view?run=${run.run}"><img border=0 src='$tools.buttonSrc("Rename")'></a>
#end
    $modHref
#if($run.paramsFileName && $run.path)
    <a href="showParamsFile.view?run=${run.run}"><img border=0 src='$tools.buttonSrc("Show $run.paramsFileName")'></a>
#end
#if($run.hasPeptideProphet)
    <a href="showPeptideProphetDetails.view?run=${run.run}"><img border=0 src='$tools.buttonSrc("Show Peptide Prophet Details")'></a>
#end
#if($run.hasProteinProphet())
    <a href="showProteinProphetDetails.view?run=${run.run}"><img border=0 src='$tools.buttonSrc("Show Protein Prophet Details")'></a>
#end
#if($run.getNegativeHitCount() > $run.getPeptideCount() / 3)
    <a href="discriminateScore.view?run=${run.run}"><img border=0 src='$tools.buttonSrc("Discriminate")'></a>
#end
    </tr>
</table>