<table class="dataRegion">
<tr>
  <td><form method="post" action="$urls.applyView"><table class="dataRegion" border="0"><tr>
      <td valign=bottom>$applyView</td>
      <td valign=bottom><input type="image" value="Go" src="$tools.buttonSrc('Go')"></td>
      <td>&nbsp;</td>
      <td valign=bottom><a href="$urls.saveView"><img border=0 src="$tools.buttonSrc('Save View')"></a></td>
      <td valign=bottom><a href="$urls.manageViews"><img border=0 src="$tools.buttonSrc('Manage Views')"></a></td>
      <td valign=bottom><a href="$urls.pickPeptideColumns"><img border=0 src="$tools.buttonSrc('Pick Peptide Columns')"></a></td>
      <td valign=bottom><a href="$urls.pickProteinColumns"><img border=0 src="$tools.buttonSrc('Pick Protein Columns')"></a></td>
  </tr></table></form></td>
</tr>

<script language="JavaScript">
    var viewTypeInfo = new Object();
    var count = 0;
    #foreach ($viewType in $viewTypes)
        viewTypeInfo[count++] = $viewType.supportsExpansion();
    #end
</script>

<tr><td><form id="viewTypeForm" method="GET"></form><table class="dataRegion" border="0"><tr>
    <td valign="center">Grouping:</td>
    <td><select id="viewTypeGrouping" name="grouping" onchange="javascript:document.getElementById('viewTypeExpanded').disabled = !viewTypeInfo[document.getElementById('viewTypeGrouping').selectedIndex];">
        #foreach ($viewType in $viewTypes)
            <option enableExpanded="$viewType.supportsExpansion()" value="$viewType.getURLName()" #if( $viewType == $currentViewType)
                selected
            #end
        >$viewType.getName()</option>
        #end
        </select>
    </td>
    <td><input id="viewTypeExpanded" type="checkbox" name="expanded" value="1" #if ($expanded)
        checked
        #end
        #if (!$currentViewType.supportsExpansion())
        disabled
        #end
        >Expanded</td>
    <td><a id="viewTypeSubmitButton" href="nothing" onclick="window.location.href='$baseViewURL' + '&grouping=' + document.getElementById('viewTypeGrouping').value + (document.getElementById('viewTypeExpanded').checked ? '&expanded=1' : ''); return false;"><img border=0 src="$tools.buttonSrc('Change Grouping')"></a>
</tr></table></form></td></tr>

<tr>
  <td><form method="post" action="$urls.extraFilter">
    <table class="dataRegion" border="0"><tr>
      <td>${run.chargeFilterColumnName}:&nbsp;1+&nbsp;<input id="Charge1" type="text" name=charge1 value="$charge1" style="width:50;"></td>
      <td>               2+&nbsp;<input id="Charge2" type="text" name=charge2 value="$charge2" style="width:50;"></td>
      <td>               3+&nbsp;<input id="Charge3" type="text" name=charge3 value="$charge3" style="width:50;"></td>
      <td>Tryptic&nbsp;ends:&nbsp;<input type="radio" name="tryptic" #if($tryptic == 0)checked#end value="0">0
                                  <input type="radio" name="tryptic" #if($tryptic == 1)checked#end value="1">1
                                  <input type="radio" name="tryptic" #if($tryptic == 2)checked#end value="2">2
                                  <input type="image" value="Add Filter" src="$tools.buttonSrc('Add Filter')" name=""></td>
    </tr></table>
  </form></td>
</tr>
<tr><td>
#parse("/org/labkey/ms2/renderFilter.vm")
</td></tr>
</table>