<form action="rename.post" method="post">
<input type="hidden" name="run" value="$run.run"/>
<table class="dataRegion">
    <tr>
    <td class='ms-searchform'>Description:</td>
    <td class='ms-vb'><input type="text" size="70" name="description" value="$description"/></td>
    </tr>
    <tr>
    <td colspan="2"><input type="image" src='$tools.buttonSrc("Rename")'/></td>
    </tr>
</table>
</form>