  <table class="dataRegion" border="0"><col width="10%"><col width="90%">
    #if($headers)
      #foreach ($header in $headers)
      <tr><td colspan=2>$header</td></tr>
      #end
    <tr><td colspan=2>&nbsp;</td></tr>
    #end
    #if($sqlSummaries)
      #foreach ($summary in $sqlSummaries)
        <tr><td>$summary.getKey().replaceAll(" ", "&nbsp;"):</td><td>$summary.getValue()</td></tr>
      #end
    #end
  </table>