
.highlight {
    background-color: #C0C0C0;
}

.ec50TrendPlot #resultImage {
    position:relative;
    top:0;
}

.aucTrendPlot #resultImage {
    position:relative;
    top:-295px;
}

.mfiTrendPlot #resultImage {
    position:relative;
    top:-590px;
}
